body {
  background-color: #17202a;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

p,
a,
li,
input {
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  line-height: 1.5;
  color: #fff;
  list-style: none;
}
